{% extends 'base.html' %}

{% block content %}
<div class="container" style="border:0">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="height:370px">
			{% if request.user.is_authenticated  %}
			<div class="card-header">
				<h3>What do you wanna see?</h3>
			</div>
			{% else %}
			<div class="card-header">
				<h3>Parking Sign In</h3>
			</div>
			{% endif %}
			{% if request.user.is_authenticated  %}
			<div class="card-body">
				<a class="btn login_btn" style="color:black;" type="button" href="/Car">Cars</a>
				<a class="btn login_btn" style="color:black;" type="button" href="/Parking">Parkings</a>
			</div>
			{% else %}
			<div class="card-body">
				<form method="post">
					{% csrf_token %}
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></span>
						</div>
						<input type="text" class="form-control" placeholder="username" id="username" name="username">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
						</div>
						<input type="password" class="form-control" placeholder="password" id="password" name="password">
					</div>
					<div class="row align-items-center remember">
						{% if form.errors %}
							<p>Your username and password didn't match. Please try again.</p>
						{% endif %}
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			{% endif %}
			<div class="card-footer">
				{% if request.user.is_authenticated  %}
				<a href="/logout">Logout</a>
				{% else %}
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="/Registration">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
